*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-size: 30px;
    font-family: "eurostile",sans-serif;
}
.menu{
    background-color: #04DB6F;
    padding: 10px;
    color: white;
    text-align: center;
}
.conteudo{
    margin: auto;
    text-align: center;
    background-color: #F9F9F9;
    background-color: white;
}
.descricao{
    display: block;
    border: 1px solid white;
    border-radius: 50px;
    margin: auto;
    padding: 40px;
    margin-bottom: 10px;
    background-color: white;
    background-color: #F9F9F9;
}
#fotoLeo{
    display: block;
    margin: auto;
    border-radius: 800px;
    padding: 40px;
    align-self: left;
}
#logo{
    height: 80px;
}
.instituicoes{
    width: 400px;
    margin: auto;
    text-align: justify;
    display: inline-block;
    padding: 40px;
    vertical-align: text-top;
    text-align: center;
    border-radius: 10px;
    height: 150px;
    margin-bottom: 10px;
    background-color: #F9F9F9;
}
.habilidades{
    border-radius: 10px;
    width: 400px;
    margin: auto;
    vertical-align: text-top;
    text-align: center;
    background-color: #F9F9F9;
    padding: 40px;
    margin-bottom: 10px;
}
.tituloProjeto{
    width: 400px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: #F9F9F9;
    padding: 40px;
    margin-bottom: 10px;
}
.projetos{
    width: 400px;
    margin: auto;
    text-align: justify;
    display: inline-block;
    padding: 40px;
    vertical-align: text-top;
    text-align: center;
    border-radius: 10px;
    height: 150px;
    margin-bottom: 10px;
    background-color: green;
    margin-bottom: 10px;
}
.rodape, .redesSociais{
    background-color: #3F5E5A;
}
.contato{
    margin: auto;
    text-align: justify;
    display: inline-block;
    padding: 40px;
}
input {
    width: 400px;
    padding: 12px 20px;
    margin: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}