body {
    margin: 0;
    padding: 0;
    display: flex;
    border: 0;
}
.menuEsq{
    width: 20vw;
    background-color: gray;  
    position: fixed;
    left: 0;
    height: 100vh;
}
.conteudo{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: 20vw; 
}
.linha {
    display: flex;
    text-align: center;
    line-height: 100px;
}
#cabecalho {
    background-color: red;
    height: 100px;
    line-height: 100px;
}
.pq {
    width: 33%;
    margin: 20px;
    height: 100px;
}
.gr {
    width: 50%;
    margin: 20px;
}
#q1, #q4 {
    background-color: blue;
}
#q2, #q5{
    background-color: yellow; 
}
#q3, #q6{
    background-color: green;
}
#q7, #q8{
    background-color: black;
    height: 200px;
    color: white;
    line-height: 200px;
}
#q9, #q10, #q11{
    border: 2px solid black;
    height: 100px;
}
@media (max-width: 900px){
    .linha1, .linha2, .linha4 {
        flex-wrap: wrap;
    }
    #q1, #q4, #q2, #q5 {
        width: calc(50% - 40px);
        box-sizing: border-box;
    }
    #q3, #q6, #q11{
        width: 100%;
    }
    #q9, #q10{
        width: calc(50% - 40px);
        box-sizing: border-box;
    }
}
@media (max-width: 800px){
    .menuEsq{
        display: none;
    }
    .conteudo, #cabecalho {
        width: 100%;
        margin: 0;
    }
}
@media (max-width: 600px){
    .linha3 {
        flex-wrap: wrap;
    }
    #q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10, #q11, #cabecalho{
        width: 100%;
    }
}
