* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
}

header {
    background-color: #EF843A;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

input {
    padding: 10px;
    width: 20vw;
    border-radius: 20px;
}

section {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

article {
    display: flex;
    flex-direction: column;
    border: 1px solid #2F972F ;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

article:hover {
    transform: translateY(-7px);
}

.img-container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    display: flex;
}

.img-titulo {
    align-self: left;

}
.img-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: #323B3E;
    padding: 20px;
    color: white;
    font-size: 2em;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#video {
    padding: 20px;
    padding: 20px 0 0 20px;
    width: 90%;
    display: flex;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}
  
header a:hover {
    color: white;
}

nav {
    border-right: 1px solid black;
    height: 80vh;
}

.container-main {
    flex: 1;
    display: grid;
    grid-template-columns: 10% auto;
}

.container-exibicao{
    flex: 1;
    display: grid;
    grid-template-columns: 10% 70% 20%;
}

.img-recomendacoes {
    overflow: hidden;
}

.img-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

li p {
    padding: 10px;
    padding-bottom: 0;
}

.img-description.video-exibicao {
    padding: 20px;
    width: 90%;
}

.menu-lateral-video {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
}
.menu-lateral-video p {
    padding: 10px;
}

@media (max-width: 900px){
    .container-main {
        grid-template-columns: 1fr;
    }
    nav {
        display: none;
    }

    #video, .video p{
        width: 90%;
    }

    .container-exibicao{
        grid-template-columns: 1fr;
    }

    .menu-lateral-video {
        display: none;
    }

    section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    section {
        grid-template-columns: 1fr;
    }
}