* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
}

header {
    background-color: #EF843A;
    width: calc(100vw - 40px);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

input {
    padding: 10px;
    width: 20vw;
}

section {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 80px;
}

article {
    display: flex;
    flex-direction: column;
    border: 1px solid #2F972F ;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

article:hover {
    transform: translateY(-7px);
}

.img-container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.img-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

article p {
    padding: 20px;
}

footer {
    background-color: #323B3E;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: calc(100vw - 40px);
    color: white;
    font-size: 2em;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.video p, #video {
    padding: 20px;
    width: 60vw;
}

#video{
    padding: 0 20px;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
    color: black;
}
  
a:active {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: white;
}

input {
    border-radius: 20px;
}

nav {
    border-right: 1px solid black;
}
.video-curtir {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container-main {
    display: grid;
    grid-template-columns: 100px auto;
}

.container-video{
    display: grid;
    grid-template-columns: 100px auto 2fr;
}


@media (max-width: 600px){
    section {
        grid-template-columns: 1fr;
    }

    #video, .video p{
        
        width: 90vw;
    }
}